:root {
  --primary-color: #65b996a1;
  --secondary-color: #f8f9fa;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --padding-button: 20px 50px;
  --padding-button-sm: 12px 10px;
}

body {
  margin-top: 100px;
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 10px;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
  opacity: 0.7;
  padding: 20px;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

a {
  text-decoration: none;
  transition: all 200ms ease;
  color: var(--primary-color);
}

a:hover {
  color: black;
}

footer {
  background: var(--secondary-color);
  margin-top: 30px;
  padding: 0 30px 30px;
  font-size: 14px;
}

footer img {
  display: inline-block;
  margin: 0 auto;
  width: 40px;
  border-radius: 50px;
}

footer h3 {
  font-size: 14px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

footer i {
  font-size: 16px;
}

.logo {
  width: 50%;
  border-radius: 50px;
}

.img-profile {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  border-radius: 100px;
}

.navigation-link {
  text-transform: capitalize;
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.navigation-link a {
  border-radius: 4px;
  padding: var(--padding-button);
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: var(--box-shadow);
  background: var(--primary-color);
  color: white;
}

.home-description {
  margin: 50px;
  text-align: center;
}

.hero {
  background: var(--secondary-color);
  padding: 20px;
}

.visit-button {
  margin-top: 30px;
}

.about-paragraphs {
  display: flex;
  margin: 30px;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.title-about {
  text-decoration: underline;
}

.my-experience {
  margin: 20px;
  padding: 20px;
}

.my-experience p {
  text-align: initial;
}

.curriculum {
  padding: 10px;
  text-align: center !important;
}

.img-about {
  display: block;
  margin: 0 auto;
}

.skill-name {
  padding-bottom: 15px;
  font-size: 12px;
}

.skill-image img {
  width: 60%;
  height: 35px;
  margin-bottom: 5px;
  object-fit: contain;
}

.navigation-tabs-work {
  margin: 80px 50px;
}

.tabs-nav {
  font-size: 20px;
  margin: 0 auto;
  padding: 10px 80px;
  border-radius: 8px;
}

.nav-pills .nav-link.active {
  color: var(--secondary-color) !important;
  background-color: var(--primary-color) !important;
  transition: all 300ms ease;
}

.tabs-nav:hover {
  cursor: pointer;
  color: black;
}

.nav-pills-bg-soft {
  background-color: var(--primary-color-light) !important;
}

.nav-pills-bg-soft .nav-link {
  color: var(--primary-color) !important;
}

.email-link {
  display: flex;
  justify-content: center;
  margin: 10px;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.contact-email-link {
  margin-bottom: 300px;
}

.disclaimer {
  font-size: 10px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  p {
    font-size: 14px;
  }

  footer h3 {
    display: inline-flex;
  }

  .img-profile {
    max-width: 100px;
  }

  .img-cross,
  .img-weather,
  .img-random,
  .img-about,
  .img-book,
  .img-portfolio {
    display: none;
  }

  .navigation-link a {
    padding: var(--padding-button-sm);
  }

  .navigation-link {
    padding: var(--padding-button-sm);
    margin: 20px 0px;
    justify-content: center !important;
  }

  .about-paragraphs {
    font-size: 14px;
  }

  .navigation-tabs-work {
    margin: 50px;
  }

  .tabs-nav {
    font-size: 14px;
    padding: 10px 50px;
  }

  .email-link {
    font-size: 14px;
  }
}
